<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Django Post</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="posting">
        <div class="container">
            <h1>Post Detail</h1>
            <table class="table">
                <tr>
                    ${post.uid}
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#posting',
            delimiters: ['${', '}'],
            data: {
                post: {},
                loading: true,
                // message: null,
            },
            mounted: function () {
                this.getPost(uid);
            },
            methods: {
                getPost: function (pk) {
                    this.loading = true;
                    axios.get('/post/api/' + pk + '/')
                        .then((response) => {
                            this.post = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                }
            },
        })
    </script>
</body>